<head>
    <%- include("../shared/head") %>
</head>
<body>
    <div class="container">
        <h1>Login</h1>
        <a class="link-primary" href="/">Order</a>
        <!-- Login Message -->
        <% if (typeof message !== "undefined") { %>
            <div class="alert alert-danger alert-dismissible" role="alert">
                <div><%= message %></div>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        <% } %>

        <!-- Login Form -->
        <div id="login">
            <form method="post" action="/login">
                <div class="mb-3">
                    <label class="form-label" for="username">Username</label>
                    <input class="form-control" type="text" name="username"/>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="password" >Password</label>
                    <input class="form-control" type="password" name="password" />
                </div>
                <input type="submit" class="btn btn-primary" value="Login">
            </form>
        </div>
       

        <%- include("../shared/footer") %>
    </div>
    <%- include("../shared/scripts") %>
</body>
